{% extends 'base.html' %}
{% load static %}

{% block title %}SmartHome: Восстановление пароля{% endblock %}

{% block stylesheet %}
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <form method="post">
                {% csrf_token %}
                <div class="col s12 m8 offset-m2 l6 offset-l3 xl4 offset-xl4 form z-depth-1 no-padding">
                    <h4 class="title center-align dark-text-color">Восстановление пароля</h4>
                    <h6 class="error center-align">{{ error }}</h6>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="email" type="password" class="validate" name="password"
                                   value="{{ form.password.value|default_if_none:"" }}">
                            <label for="email">Password</label>
                            {% if form.password.errors %}
                                <span class="helper-text error">{{ form.password.errors.0|safe }}</span>
                            {% else %}
                                <span class="helper-text">Не менее 8 символов</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s10 offset-s1">
                            <input id="email" type="password" class="validate" name="password_confirm"
                                   value="{{ form.password_confirm.value|default_if_none:"" }}">
                            <label for="email">Password confirm</label>
                            {% if form.password_confirm.errors %}
                                <span class="helper-text error">{{ form.password_confirm.errors.0|safe }}</span>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col s8 offset-s2 m6 offset-m3 auth-btn">
                        <button class="btn full-width waves-effect waves-light main-bg-color" type="submit"
                                name="action">Сохранить
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

{% block script %}
{% endblock %}