.user-account{
  margin-top: 30px;
  .content{
      padding: 0 30px 30px 30px !important;
  }
  h4.title{
    margin-bottom: 30px;
  }
  .green-notification{
    background-color: #6DDCBD;
    padding: 0 20px !important;
    p{
      overflow: hidden;
    }
  }
  .red-notification{
    background-color: #f7a0ae;
    padding: 0 20px !important;
  }
  h6{
    margin-left: 30px;
    font-size: 18px;
  }
  a.personal-data{
    margin: 15px 15px 30px 30px
  }
  .keys-container{
    margin-top: 15px;
    a{
      margin-left: 30px;
    }
    .keys{
      display: none;
    }
  }
  .device{
    border: 1px solid #bbbbbb ;
    .switch{
      margin-top: 5px;
      .lever{
        margin-left: 5px;
        margin-right: 5px;
      }

    }
    .settings{
      height: 42px;
      a i{
        margin-top: 10px;
      }
    }
    .image{
      margin-top: 35px;
    }
    i.status-error{
      margin-right: 10px;
      color: #c72937;
    }
    .name{
      margin-top: 5px;
    }
    h6{
      font-size: 18px;
      margin-left: 20px;
    }
    div.target-temp{
      margin-top: 5px;
      font-size: 18px;
      padding-left: 30px;
      .input-field.inline{
        margin-top: 0;
        margin-bottom: 0;
        input{
          margin-bottom: 2px;
          height: 25px;
          width: 55px;
          font-size: 18px;
        }
      }
    }
  }
}